@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-nunito);
  --font-heading: var(--font-playwrite-hu);

  --breakpoint-sm: 600px;
  --breakpoint-lg: 900px;
  --breakpoint-xl: 1200px;

  --shadow-news-letter:
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.05);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    scroll-behavior: smooth;
  }

  .hero-header h1,
  .hero-header h2,
  .hero-header h3 {
    font-family: var(--font-playwrite-hu), cursive;
  }

  a[href="https://reactbricks.com?utm_campaign=site-badge"] {
    display: none !important;
  }
  .rb-click-to-edit {
    display: none !important;
  }

  /* Hero Header Mobile Responsive Background */
  .hero-header a.rounded-full:first-child{
    background-color: white !important;
    color: #060E1A !important;
  }
  .hero-header img{
    display: none;
  }

  #react-bricks-brick .hero-header img{
    display: block;
    margin-top: 100px;
  }

  @media (max-width: 768px) {
    .hero-header {
      background-position: top center, bottom right !important;
      background-size: cover, 200% auto !important;
    }

    .hero-header h1 .line1 {
      font-size: clamp(2rem, 12vw, 6rem) !important;
    }

    .hero-header h1 .line2 {
      font-size: clamp(1rem, 5vw, 4rem) !important;
    }
  }
}
